:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0, 0, 0/0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 2000px;
}

.hero ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(asset/Img/bg1.png);
  background-size: cover;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
  color: var(--bg);
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: var(--bg);
  background-color: rgb(180, 217, 233);
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: rgb(180, 217, 233);
  color: white;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(4px);
}

.navbar .offcanvas {
  height: 100vh;
}

.navbar .navbar-brand,
.navbar .offcanvas-title {
  font-family: "Playfair Display", serif;
  font-size: 2.2rem;
}
.navbar .nav-link {
  text-transform: uppercase;
}

.home {
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: #dad6d4;
}

.home h2,
.Story h2,
.gallery h2,
.rsvp h2,
.gifts h2,
.thanks h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: bold;
  color: #5c4928;
  font-weight: bold;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
}

.home .couple {
  margin-top: 40px;
}

.home .couple {
  font-family: "Playfair Display", serif;
  font-size: 2.4rem;
}

.home .couple h3 {
  font-family: "Playfair Display", serif;
  color: #722a2a;
}

.home .couple img {
  width: 100%;
}

.info {
  background-color: #bab1d4;
  color: #474747;
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.Story {
  background-color: #dad6d4;
  color: #474747;
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.info h2 {
  font-family: "sacramento";
  font-size: 5rem;
  font-weight: bold;
  color: #5c4928;
  font-weight: bold;
}
.info p {
  font-family: "playfair display" serif;
}
.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #474747 !important;
  border: 1px solid #999;
}
.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

.Story,
.Story,
.rsvp,
.gifts {
  padding-top: 5%;
  padding-bottom: 8rem;
}

.Story span,
.gallery span,
.gifts,
.thanks span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  display: block;
}

.gallery img {
  width: 150%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 5rem;
}
.thanks {
  margin-bottom: 5rem;
}
.Story p,
.gallery p,
.rsvp p,
.thanks p {
  font-size: 1rem;
  font-weight: 300;
}

.Timeline {
  list-style: none;
  padding: 1.4rem;
  margin-top: 1rem;
  position: relative;
}

.Timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #cccccc;
  left: 50%;
}

.Timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.Timeline li::before,
.Timeline li::after {
  content: "";
  display: table;
}

.Timeline li::after {
  clear: both;
}

.Timeline li .Timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Timeline li .Timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 3px;
  background-color: #fff;
}

.Timeline li .Timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 70px;
  right: -15px;
}

.Timeline li .Timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 71px;
  right: -13px;
}

.Timeline li.Timeline-inverted .Timeline-panel {
  float: right;
}

.Timeline li.Timeline-inverted .Timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.Timeline li.Timeline-inverted .Timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.gallery {
  background-color: #bab1d4;
}

.rsvp {
  background-color: #ccc;
}
.rsvp form label {
  color: #5c4928;
}

.rsvp button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
}
.rsvp button ::hover {
  background-color: white;
  color: var(--pink);
  border: 1px solid white;
}
/* Mdia Quary */

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }

  .Timeline::before {
    left: 60px;
  }

  .Timeline li .Timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .Timeline li .Timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }

  .Timeline li .Timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .Timeline li .Timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

footer {
  padding: 3rem;
  background-color: #999;
  color: white;
}

footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2.5rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

/* Tablet  */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }
  .Timeline li .Timeline-image {
    width: 140px;
    height: 140px;
  }
  .home {
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
  /* Mobile */
  @media (max-width: 576px) {
    html {
      font-size: 60%;
    }
    .simply-countdown > .simply-section {
      padding: 45px;
      margin: 3px;
    }

    .Timeline li .Timeline-image {
      width: 80px;
      height: 80px;
    }
    .Timeline li .Timeline-panel {
      width: 65%;
      transform: translateX(-20px);
    }

    .Timeline li .Timeline-panel::before {
      top: 30px;
    }

    .Timeline li .Timeline-panel::after {
      top: 31px;
    }
  }
}
